* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(139deg, rgb(32, 172, 27) 0%, #1d321f 100%);
    color: white;
    font-family: "Monserrat", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 10px;
    font-size: 25px;
    border: none;
    background: white;
  }
  form button {
    color: #36118b;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  form button:hover {
    background: #36118b;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .ban-btn,
  .complete-btn {
    background: #36118b;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(202, 232, 36);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-ban,
  .fa-check {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  }
  select {
    color: black;
    font-family: "Moserrat", sans-serif;
    cursor: pointer;
    width: 12rem;
  }

  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #36118b;
    cursor: pointer;
    pointer-events: none;
  }